@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  outline: none;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
}

input, button {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #999999;
}

h2 {
  margin: 10px;
  padding: 10px;
  font-weight: 300;
}

form, input::placeholder, button {
  font-family: 'Roboto', sans-serif;
}

button:hover {
  cursor: pointer;
}
